body{
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    min-width: 1200px;
}
/* Adjust padding */
.header,
.hero,
.footer{
    padding: 10px 200px 10px 200px;
    background-color: #1F2937;
}

/* Header section */
.header{
    display: flex;
    justify-content: space-between;
}

.left-links{
    display: flex;
    gap: 20px;
}

.logo{
    font: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

a,
.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Section */
.hero{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}


/* Information Section */
.content{
    padding: 20px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    border: 10px solid #3882F6;
}

/* Quote Section*/
.quote{
    background-color: #E5E7EB;
    padding: 20px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #152937;
}

/* Advertisement Section */
.advertisement{
    display: flex;
    background-color: #3882F6;
    margin: 50px;
}

button{ /* Hero and Advertisement */
    background-color: #3882F6;
    border: 0;
    color: white;
}

.info-header{
    font-size: 18px;
    font-weight: 800;
    color: #1F2937;
}

/* Footer Section */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}